<form>

<div class="col-6">
  <div class="form-group pt-4">
  <label for="num1" class="form-label"> Numero 1</label>
  <input type="text" class="form-control" id="num1" [(ngModel)]="num1" name="num1">
</div>

<div class="form-group pt-4">
  <label for="num2" class="form-label"> Numero 2</label>
  <input type="text" class="form-control" id="num2" [(ngModel)]="num2" name="num2">

</div>

<div class="form-group">
<button class="btn btn-primary mt-3" (click)="calcular()">calcular</button>

</div>
</div>

<div class="col-6"></div>
<h1>Resultado: {{res}}</h1>

<div class="form-check">
    <input class="form-check-input" type="radio" name="operacion" [(ngModel)]="operacion" value="sumar">
    <label class="form-check-label">Sumar</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="operacion" [(ngModel)]="operacion" value="restar">
    <label class="form-check-label">Restar</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="operacion" [(ngModel)]="operacion" value="multiplicar">
    <label class="form-check-label">Multiplicar</label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="operacion" [(ngModel)]="operacion" value="dividir">
    <label class="form-check-label">Dividir</label>
  </div>




</form>
