<div class="container">
  <div class="row">

  <!--<div >
    <h1>
      Hola mundo
    </h1>
    <h2>{{ title }} </h2>
  </div>


  <div>
    la suma de 1 + 1 es {{1 + 1}}
  </div>



    <div>
      el doble de 3 es {{duplicaNumero(3)}}
    </div>



    <div>
      {{pelicula.titulo}} - {{pelicula.anio}}
    </div>

  </div>
</div>

<div>
    <h1>{{pelicula.titulo | uppercase}}</h1>
</div>

<h2>
  {{pelicula.anio | date:'dd-MMMM-yyyy'}}
</h2>

<h3>
  {{pelicula.precio | currency}}
</h3>

-->

<!--<app-heroes-list></app-heroes-list>-->
<!--<app-operas-bas></app-operas-bas>-->

<!--<app-cinepolis></app-cinepolis>-->

<app-resistencias></app-resistencias>

<router-outlet></router-outlet>



<div></div>

